<?xml version="1.0" ?>
<robot name="engine_top_case">
    <link name="baseLink">
        <contact>
            <lateral_friction value="0.3"/>
            <rolling_friction value="0.0"/>
            <contact_cfm value="0.0"/>
            <contact_erp value="1.0"/>
        </contact>

        <inertial>
            <origin xyz="0.0005498884367543897 -0.003288947624345052 0.07466510316754948" rpy="0 0 0"/>
            <mass value="44.205471364323145"/>
            <inertia ixx="0.232184" iyy="0.240203" izz="0.293582" ixy="0.000162" iyz="0.00478" ixz="-0.000661"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="engine_top_case.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="silver">
                <color rgba="0.700 0.700 0.700 1.000"/>
            </material>
        </visual>
        <collision concave="yes">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="engine_top_case.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>
</robot>